<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- favicon -->
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        <!-- Vendor CSS Files -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
              rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
              rel="stylesheet">
        <!-- Template Main CSS File -->
        <link rel="stylesheet" href="/css/room.css">
        <script>
            const ROOM_ID = '<%= roomId %>';
            const USER_ID = '<%= userId %>'
            const USER_NAME = '<%= userName %>';
            const IS_MUTED = '<%= isMuted %>';
            const IS_STOPPED_VIDEO = '<%= isStoppedVideo %>';
        </script>
        <title>Mini Room</title>
    </head>
    <body>
        <!-- Preloader -->
        <div id="preloader" class="preloader"></div>
        <!-- Modal -->
        <div id="modalContainer"
             class="modal fade"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Allow Mini Room to use your camera and microphone</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Mini Room needs access to your camera and microphone so that other participants can see and hear you. Mini Room will ask you to confirm this decision on each browser and computer you use.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Dismiss</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="mainContainer" class="main-container">
            <div class="main-left center">
                <div id="videosContainer" class="videos-container"></div>
            </div>
            <div class="main-right">
                <!-- Info Offcanvas -->
                <div id="infoOffcanvas"
                     class="offcanvas offcanvas-end offcanvas-outlayer"
                     data-bs-backdrop="false"
                     tabindex="-1"
                     aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="staticBackdropLabel">Meeting details</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="offcanvas"
                                data-bs-target="#infoSideBar"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="warning">I will not close if you click outside of me.</div>
                        <div class=""></div>
                    </div>
                </div>
                <!-- Participants Offcanvas -->
                <div id="participantOfcanvas"
                     class="offcanvas offcanvas-end offcanvas-outlayer"
                     data-bs-backdrop="false"
                     tabindex="-1"
                     aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="staticBackdropLabel">People</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="offcanvas"
                                data-bs-target="#participantsSideBar"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="warning">I will not close if you click outside of me.</div>
                        <div></div>
                    </div>
                </div>
                <!-- Chat Offcanvas -->
                <div id="chatOffcanvas"
                     class="offcanvas offcanvas-end offcanvas-outlayer"
                     data-bs-backdrop="false"
                     tabindex="-1"
                     aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="staticBackdropLabel">In-call Messages</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="offcanvas"
                                data-bs-target="#chatSideBar"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="warning">Messages can only be seen by people in the call and are deleted when the call ends.</div>
                    <div class="offcanvas-body">
                        <div id="messageContainer" class="message-container"></div>
                    </div>
                    <div id="messageInputContainer" class="message-input-container">
                        <textarea id="messageInput"
                                  rows="1"
                                  type="text"
                                  class="message-input center"
                                  placeholder="Send a message to everyone"></textarea>
                        <span id="sendMsgBtn" type="btn" class="send-msg-btn center" type="button"><i class="fa-solid fa-paper-plane"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tool-bar">
            <div class="meeting-info"></div>
            <div class="control-btns">
                <div class="main-control-container center">
                    <div class="main-control">
                        <div id="audioBtn" class="center circle-btn btn-able">
                            <i id="audioBtnIcon" class="fa-solid fa-microphone"></i>
                        </div>
                        <div id="videoBtn" class="center circle-btn btn-able">
                            <i id="videoBtnIcon" class="fa-solid fa-video"></i>
                        </div>
                        <div id="shareBtn" class="center circle-btn btn-able">
                            <i id="shareBtnIcon" class="fa-solid fa-arrow-up-from-bracket"></i>
                        </div>
                        <div id="leaveBtn" class="center oval-btn btn-disable">
                            <i id="leaveBtnIcon" class="fa-solid fa-phone rotate"></i>
                        </div>
                    </div>
                </div>
                <div class="side-control-container right-center">
                    <div class="side-control">
                        <div id="infoBtn" class="center side-btn">
                            <i id="infoBtnIcon" class="fa-solid fa-circle-info"></i>
                        </div>
                        <div id="participantBtn" class="center side-btn">
                            <i id="participantBtnIcon" class="fa-solid fa-user-group"></i>
                        </div>
                        <div id="chatBtn" class="center side-btn">
                            <i id="chatBtnIcon" class="fa-solid fa-message"></i>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
    <!-- Vendor JS Files -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="https://WebRTC.github.io/adapter/adapter-latest.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/8de498932c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- Template Main JS File -->
    <script type="module" src="../js/room.js"></script>
